<footer class="probootstrap-footer probootstrap-bg">
    <div class="container">
        
        <div class="row copyright">
            <div class="col-md-6">
                <div class="probootstrap-footer-widget">
                </div>
                <div class="probootstrap-footer-widget">
                    <p>&copy; Designed by <a href="https://www.github.com/raulojeda22" >Raül Ojeda</a></p>
                    <p><a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html" >GNU General Public License.</a> Project available on <a target="_blank" href="https://github.com/raulojeda22/hellscriptsFW">Github</a></p>
                    <ul class="languagepicker roundborders">
                        <a style="cursor:pointer" class="changeLanguage" name="english"><li><img src="http://i64.tinypic.com/fd60km.png"/>English</li></a>
                        <a style="cursor:pointer" class="changeLanguage" name="spanish"><li><img src="http://i68.tinypic.com/avo5ky.png"/>Español</li></a>
                    </ul>
                </div>
                <div class="probootstrap-footer-widget">
                    <ul class="probootstrap-social">
                        <li><a target="_blank" href="https://www.github.com/raulojeda22"><i class="icon-github"></i></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/raul_ojeda22"><i class="icon-instagram2"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 row">
                <div class="probootstrap-footer-widget right">
                    <h4 class="heading">More Links</h4>
                    <ul class="stack-link">
                        <li><a target="_blank" href="https://www.github.com/raulojeda22">About</a></li>
                        <li><a href="/#/contact">Contact</a></li>
                        <li><a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.html">License</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>