<header ng-controller="menuCtrl" role="banner" class="probootstrap-header border-bottom">
    <div class="container">
        <h1 class="probootstrap-logo">Hell Scripts</h1>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
                <li id="home" class="bannerItem"><a href="#/home" class="translate" data-original="Home">Home</a></li>
                <li ng-show="loggedIn" id="projects" class="bannerItem"><a href="#/projects" class="translate" data-original="Projects">Projects</a></li>
                <li ng-show="loggedIn" id="profile" class="bannerItem"><a href="#/profile" class="translate" data-original="Profile">Profile</a></li>
                <li id="contact" class="bannerItem"><a href="#/contact" class="translate" data-original="Contact">Contact</a></li>
            </ul>
            <ul class="probootstrap-right-nav hidden-xs">
                <li id="cartButton"><a href="#/users" id="cartLink" class="btn btn-sm btn-primary btn-link"><i class="icon-cart"></i></a></li>
                <li id="userButton">
                    <button ng-click="logout()" ng-show="loggedIn" class="btn btn-primary btn-sm btn-link logout">Log out <i class="icon-user"></i></button>
                    <a ng-show="!loggedIn" href="#/users" class="btn btn-sm btn-primary btn-link">Log in <i class="icon-user"></i></a>
                </li>
                
            </ul>
        </nav>
        <nav ng-show="loggedIn" role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-right-nav hidden-xs">
                <li id="userInfo"><h4>{{user.email}} <img height="50px" width="50px" src="{{user.avatar}}"/></h4></li>
            </ul>
        </nav>
				
    </div>
</header>