
<h1>Contact</h1>
<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="contactError"></div>
                <form id="contact_form" name="contact_form" class="probootstrap-form mb60">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">First Name</label>
                                <input required ng-model="contact.name" type="text" class="form-control contactFormElement" id="name" name="name">
                                <span class="text-danger" ng-show="contact_form.name.$error.required && (contact_form.name.$dirty || contact_form.name.$touched)">The name is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="surname">Last Name</label>
                                <input required ng-model="contact.surname" type="text" class="form-control contactFormElement" id="surname" name="surname">
                                <span class="text-danger" ng-show="contact_form.surname.$error.required && (contact_form.surname.$dirty || contact_form.surname.$touched)">The surname is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input required ng-model="contact.email" type="email" class="form-control contactFormElement" id="email" name="email" maxlength="100" 
                        ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i">
                        <span class="text-danger" ng-show="contact_form.email.$error.required && (contact_form.email.$dirty || contact_form.email.$touched)">The email is required</span>
                        <span class="text-danger" ng-show="contact_form.email.$error.email">The email is not valid</span>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea required ng-model="contact.message" cols="30" rows="10" class="form-control contactFormElement" id="message"
                            name="message"></textarea>
                        <span class="text-danger" ng-show="contact_form.message.$error.required && (contact_form.message.$dirty || contact_form.message.$touched)">The comment is required</span>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" id="submit" name="submit" value="Send Message"
                        ng-show="contact_form.name.$valid && contact_form.surname.$valid && contact_form.email.$valid && contact_form.message.$valid"
            ng-click="SubmitContact()">
                    </div>
                </form>
            </div>
            <div class="col-md-3 col-md-push-1">
                <h4>Contact Details</h4>
                <ul class="with-icon colored">
                    <li><i class="icon-location2"></i> <span>IES l'Estació, Ontinyent, València, Espanya</span></li>
                    <li><i class="icon-mail"></i><span>raulojeda10g@gmail.com</span></li>
                    <li><i class="icon-phone2"></i><span>+692 61 78 90</span></li>
                </ul>
            </div>
        </div>
    </div>
</section>
