<section class="page-title">
    <div class="container">
        <h1>
            {{project.name}}
        </h1>
    </div>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <p><img src="{{project.image}}" alt="" class="img-responsive img-border"></p>
                <h2>
                    {{project.languages}}
                </h2>
                <p>
                    {{project.description}}
                </p>
                <cart-button></cart-button>
            </div>
            <div class="col-md-3">
                <div class="panel-group probootstrap-panel" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="">
                        <div class="panel-heading" id="headingOne">
                            <h4 class="panel-title">
                                <a class="text-white"  role="button" data-parent="#accordion"
                                    aria-controls="collapseOne">
                                    Website
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>{{project.website}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="text-white"  role="button" data-parent="#accordion"
                                   aria-controls="collapseTwo">
                                    License
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>
                                    {{project.license}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="text-white" role="button" data-parent="#accordion"
                                    aria-controls="collapseThree">
                                    Privacy
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>
                                    {{project.privacy}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="text-white" role="button" data-parent="#accordion"
                                    aria-controls="collapseFour">
                                    Development period
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel"
                            aria-labelledby="headingFour">
                            <div class="panel-body">
                                <p>
                                    From {{project.startDate}} to {{project.endDate}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>