<div class="probootstrap-card">
    <div class="probootstrap-card-media responsive-square">
        <img src="{{project.image}}" class="img-responsive responsive-square-content img-border"/>
    </div>
    <div class="probootstrap-card-text">
        <div class="row text-center" id="project{{project.id}}">
            <a href="#/explore/{{project.id}}" class="btn btn-primary btn-sm projectGet" name="GET">Show</a>
            <button class="btn btn-primary btn-sm cartPost" data-id="{{project.id}}" name="POST"><i class="icon-cart"></i></button>
        </div>
        <h4 >{{project.name}}</h4>
        <h6 class="category">{{project.languages}}</h6>
    </div>
</div>