<section class="probootstrap-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Register</h2>
                <div class="registerError"></div>
                <form id="register_form" name="register_form" class="probootstrap-form mb60">
                    
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input required type="password" class="form-control registerFormElement" id="passwordRegister" name="password" ng-model="register.password" ng-minlength="6" ng-maxlength="40"/>
                        <span class="text-danger" ng-show="register_form.password.$error.required && (register_form.password.$dirty || register_form.password.$touched)">Input a password</span>
	       				<span class="text-danger" ng-show="register_form.password.$error.minlength">Input more than 6 characters</span>
	       				<span class="text-danger" ng-show="register_form.password.$error.maxlength">Input more than 40 characters</span>
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword">Repeat Password*</label>
                        <input required type="password" class="form-control registerFormElement" id="repeatPasswordRegister" name="repeatPassword" ng-model="register.repeatPassword" ng-minlenght="6" ng-maxlength="40"/>
                        <span class="text-danger" ng-show="register_form.repeatPassword.$error.required && (register_form.repeatPassword.$dirty || register_form.repeatPassword.$touched)">Repeat the password</span>
	       				<span class="text-danger" ng-show="register_form.repeatPassword.$error.minlength">Input more than 6 characters</span>
                        <span class="text-danger" ng-show="register_form.repeatPassword.$error.maxlength">Input more than 40 characters</span>
                        <span class="text-danger" ng-show="register.repeatPassword != register.password && (register_form.repeatPassword.$dirty || register_form.repeatPassword.$touched)">The passwords don't match</span>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-primary" id="registerSubmit" name="submit" value="Change password" ng-show="register_form.password.$valid && register_form.repeatPassword.$valid && register.repeatPassword === register.password"
                        ng-click="changePassword()"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>